
	</div> <!-- full height -->
	<footer>
		<div class="ui container">
			<div class="ui left">
				© 2016 Versionr
			</div>
			<div class="ui right links">
				<a target="_blank" href="https://github.com/eatplayhate/versionr"><i class="fa fa-github-square"></i><span class="sr-only">GitHub</span></a>
				<span class="version">Versionr 1.0</span>
			</div>
		</div>
	</footer>
</body>

<!-- Third-party libraries -->
<link rel="stylesheet" href="/Content/plugins/highlight-9.2.0/github.css">
<script src="/Content/plugins/highlight-9.2.0/highlight.pack.js"></script>

<link rel="stylesheet" href="/Content/plugins/jquery.minicolors-2.2.3/jquery.minicolors.css">
<script src="/Content/plugins/jquery.minicolors-2.2.3/jquery.minicolors.min.js"></script>

<link rel="stylesheet" href="/Content/plugins/jquery.datetimepicker-2.4.5/jquery.datetimepicker.css">
<script src="/Content/plugins/jquery.datetimepicker-2.4.5/jquery.datetimepicker.js"></script>

<link rel="stylesheet" href="/Content/plugins/dropzone-4.2.0/dropzone.css">
<script src="/Content/plugins/dropzone-4.2.0/dropzone.js"></script>

<script src="/Content/js/libs/emojify-1.1.0.min.js"></script>
<script src="/Content/js/libs/clipboard-1.5.9.min.js"></script>

</html>