@Html.Partial("Shared/_Header")

<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="/Content/img/gogs-lg.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					Versionr
				</h1>
				<h2>The less hateful version control system</h2>
			</div>
		</div>
	</div>

	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-flame"></i> Easy to ignite
			</h1>
			<p class="large">
				Made of highly-flammable substances.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-device-desktop"></i> Runs on computers
			</h1>
			<p class="large">
				Versionr has been designed for programmable computers.
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-rocket"></i> Rockets
			</h1>
			<p class="large">
				We'd rather work for SpaceX.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-code"></i> Angle brackets
			</h1>
			<p class="large">
				This website is made of HTML.
			</p>
		</div>
	</div>

</div><!-- home -->
		
@Html.Partial("Shared/_Footer")