.versionr/
lzham_codec-master/lzhamcomp/x64/
commandline-stable-1.9.71.2/src/libcmdline/obj/
commandline-stable-1.9.71.2/src/libcmdline/bin/
lzham_codec-master/lzhamdecomp/x64/
VersionrCore/obj/
VersionrCore/bin/
lzham_codec-master/lzhamlib/x64/
lzhamwrapper/x64/
sqlite3/x64/
sqlite3/Debug/
Versionr/obj/
Versionr/bin/
lzhl-master/x64/
x64/
Release/
.vs/
*.sdf
SQLite/obj/
SQLite/bin/
*.opensdf
