<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net452" />
  <package id="GraphViz4Net" version="2.0.33" targetFramework="net452" />
  <package id="GraphViz4Net.WPF2" version="2.0.33" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net45" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net452" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net452" />
</packages>